---
title: evolved systems
---
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <script>
  (function() {
    if (sessionStorage.fontsLoaded) {
      document.documentElement.className += ' fonts-loaded';
      return;
    }
    if (document.fonts) {
      Promise.all([
        document.fonts.load('1em "Basier Square"'),
        document.fonts.load('500 1em "Basier Square"'),
        document.fonts.load('italic 1em "Basier Square"'),
        document.fonts.load('bold 1em "Basier Square"'),
        document.fonts.load('600 1em "Iosevka Aile Web"'),
      ]).then(function() {
        document.documentElement.className += ' fonts-loaded';
        sessionStorage.fontsLoaded = true;
      });
    }
  })();
  </script>
</head>
<body>
  <header>
    <a class="logo" href="/" title="Return to home page">
      {% include "logo.svg" %}
    </a>
  </header>
  
  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p>Hello, this is the personal blog of Rafał Hirsz.</p>
    <p><a href="https://twitter.com/HDevo">Follow me on Twitter</a> or <a href="https://matrix.to/#/#blog:evolved.systems">discuss the blog on Matrix</a>.</p>
  </footer>
</body>
