---
layout: layout.njk
---

<article class="post">
  <a href="{{post.url}}" class="post__permalink">
    <time datetime="{{post.date | isoDate}}">{{post.date | readableDate}}</time>
  </a>
  <h1 class="post__title">{{post.title}}</h1>
  <p class="post__summary">{{post.summary}}</p>

  <div class="post__content">
    {{content | safe}}
  </div>
</article>