@use './colors';
@use './fluid';
@use './fonts';
@use './typescale';
@use './units';

html,
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

body {
  @include fonts.text;
  align-items: center;
  background: url(/static/top-shape.svg) no-repeat center top;
  background-color: var(--color-bg);
  background-size: auto fluid.between(102px, 184px);
  color: var(--color-fg);
  display: flex;
  flex-direction: column;
  font-size: var(--step-0);
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5 {
  @include fonts.heading;
  color: var(--color-heading);
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

a {
  color: var(--color-link);

  &:hover,
  &:focus {
    color: var(--color-focused-link);
  }
}

header {
  margin: 0 auto;
  max-width: 1104px;
  height: fluid.between(102px, 184px);
  text-align: center;
}

.logo,
.logo:hover,
.logo:focus {
  color: var(--color-bg);
  display: inline-block;
  height: fluid.between(40px, 65px);
  position: relative;
  top: 17.391304%;

  svg {
    height: 100%;
  }
}

main {
  box-sizing: border-box;
  flex: 1;
  margin-top: var(--space-l);
  max-width: 72ch;
  padding: 0 var(--space-m);
  width: 100%;
}

footer {
  background-image: url(/static/bottom-right-shape.svg),
    url(/static/bottom-left-shape.svg);
  background-repeat: no-repeat;
  background-position: right bottom, left bottom;
  background-size: auto 28px, auto 42px;
  color: var(--color-light-fg);
  margin-top: var(--space-2xl);
  padding-bottom: var(--space-3xl);
  text-align: center;
  width: 100%;

  &:before {
    border-top: 1px solid var(--color-border);
    content: "";
    display: block;
    margin: 0 auto;
    padding-top: var(--space-2xl);
    width: 28ch;
  }
}

nav {
  margin-top: var(--space-l);

  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.nav {
  color: var(--color-light-fg);
  font-size: var(--step--1);

  &--prev {
    float: left;
    &::before {
      content: "← ";
    }
  }
  &--next {
    float: right;
    &::after {
      content: " →";
    }
  }
}

.post__title {
  font-size: var(--step-3);

  a {
    color: var(--color-heading);
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--color-focused-link);
    }
  }
}
.post__summary {
  color: var(--color-light-fg);
  font-size: var(--step-1);
  margin-top: var(--space-s);
}

.post__date,
.post__editdate {
  font-weight: 500;
  font-size: var(--step--1);
  letter-spacing: 0.12em;
  text-decoration: none;
  text-transform: uppercase;
}

.post__date {
  color: var(--color-heading);
}

.post__editdate {
  color: var(--color-light-fg);

  &::before {
    content: "• ";
  }
}

.post__content {
  margin-top: var(--space-l);

  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin-top: var(--space-s);
  }

  h1 {
    font-size: var(--step-2);
  }
  h2 {
    font-size: var(--step-1);
  }
}

.listing {
  .post__date {
    font-size: var(--step--2);
  }
  .post__title {
    font-size: var(--step-2);
  }
  .post__summary {
    font-size: var(--step-0);
    margin-top: var(--space-xs);
  }
}

.listing__year {
  color: var(--color-year);
  font-size: var(--step-4);
}

.listing__posts {
  margin-top: var(--space-s);
}

.listing__post + .listing__post {
  margin-top: var(--space-l);
}

@media screen and (min-width: 596px) {
  .listing {
    display: grid;
    column-gap: var(--space-m);
    grid-template-columns: auto auto;
  }
  .listing__posts {
    margin-top: 0;
  }
}
