@use './colors';
@use './fluid';
@use './fonts';
@use './typescale';
@use './units';

html,
body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

body {
  @include fonts.text;
  align-items: center;
  background: url(/static/top-shape.svg) no-repeat center top;
  background-color: var(--color-bg);
  background-size: auto fluid.between(85px, 184px);
  color: var(--color-fg);
  display: flex;
  flex-direction: column;
  font-size: var(--step-0);
}

h1,
h2,
h3,
h4,
h5 {
  @include fonts.heading;
  color: var(--color-heading);
  font-weight: 600;
  letter-spacing: -0.03em;
}

h1 {
  font-size: var(--step-3);
}

header {
  margin: 0 auto;
  max-width: 1104px;
  height: fluid.between(85px, 184px);
  text-align: center;
}
.logo {
  color: #fff;
  display: inline-block;
  height: fluid.between(32px, 65px);
  position: relative;
  top: 17.391304%;

  svg {
    height: 100%;
  }
}

main {
  flex: 1;
  margin-top: var(--space-xl);
  width: 72ch;
}
